* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* main body */

body {
  background-color: white;
  font-family: "source sans Pro";
  font-size: 20px;
  margin-left: 10px;
  margin-right: 10px;
}

/* navigation */

.page__header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.navbar__menu {
  display: flex;
  align-items: center;
  padding-left: 10px;
  padding-right: 10px;
}

#navbar__list {
  display: flex;
  list-style: none;
  padding: 0;
  gap: 50px;
}

.page__header {
  position: sticky;
  top: 0;
  background-color: white;
  height: 55px;
}

#logo {
  font-weight: 900;
  font-size: 25px;
  padding: 15px;
  padding-left: 0;
  margin-left: 20px;
}

.logo-dot {
  font-size: 30px;
  color: rgb(173, 68, 85);
}

li {
  align-items: center;
  font-size: 15px;
  color: black;
}

/* main picture */

.showcase {
  display: flex;
  margin: auto auto;
  margin-top: 80px;
}

.decor {
  width: 60%;
  border-bottom-left-radius: 10px;
  border-top-left-radius: 10px;
}

.decor-description {
  padding-top: 50px;
  width: 40%;
  padding-left: 10px;
  background: rgb(217, 193, 197);
  border-bottom-right-radius: 10px;
  border-top-right-radius: 10px;
}

h4 {
  color: rgb(173, 68, 85);
  font-size: 13px;
  font-weight: 600;
  line-height: 22px;
  letter-spacing: 6px;
  text-align: left;
}

h2 {
  padding: 0px;
  /* margin-top: 80px; */
  align-items: center;
}

.intro {
  font-size: 35px;
  font-weight: 600;
  line-height: 66px;
  letter-spacing: -1px;
  text-align: left;
}

/* sections */

.section-title {
  color: rgb(173, 68, 85);
  font-weight: bold;
  margin-top: 80px;
  font-size: 30px;
}

.gallery {
  display: flex;
  align-items: center;
}

.gallery > img {
  width: 400px;
  height: 600px;
  margin: 10px;
  border-radius: 10px;
  margin-left: auto;
  margin-right: auto;
}

.sec2_container {
  display: flex;
  float: left;
}

.paragraph {
  width: 500px;
  height: 500px;
  text-align: center;
  float: left;
  padding: 20px;
  border: solid 1px black;
  border-radius: 10px;
}

.pinkbox {
  background-color: rgb(217, 193, 197);
  color: rgb(173, 68, 85);
  text-align: center;
  width: 500px;
  height: 500px;
  float: left;
  padding: 20px;
  border-radius: 10px;
}

section {
  margin-top: 80px;
  margin-bottom: 80px;
  align-items: center;
}

p {
  padding: 20px;
}

.author {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

blockquote {
  margin-top: 50px;
  letter-spacing: 5px;
  font-size: 20px;
  width: 400px;
}

.test_container {
  display: flex;
  align-items: center;
  flex-direction: column-reverse;
  width: 100%;
  padding: 20px;
}

figcaption {
  color: rgb(173, 68, 85);
  font-weight: bold;
  align-items: center;
  font-size: 15px;
}

.container_list {
  display: flex;
  flex-direction: column;
}

.box1,
.box2,
.box3 {
  display: flex;
  float: left;
  width: 100%;
  height: 130px;
  margin-bottom: 80px;
  border-bottom: solid 1px rgb(173, 68, 85);
}

.title-list {
  width: 400px;
  height: 50px;
  align-items: center;
  font-size: 25px;
  letter-spacing: 5px;
  padding: 20px;
}

.p-list {
  width: 500px;
  height: 50px;
  align-items: center;
  font-size: 20px;
  letter-spacing: 5px;
}

.learn {
  font-size: 15px;
  padding: 20px;
  width: auto;
  font-weight: bold;
  align-items: center;
}

#our_projects {
  margin-top: 80px;
}

/* form */

form {
  background-color: rgb(217, 193, 197);
  background-image: linear-gradient(
    rgb(217, 193, 197),
    pink,
    rgb(228, 228, 157)
  );
  padding: 20px;
  border-radius: 10px;
}

fieldset {
  border: none;
  display: block;
  text-align: center;
  padding: 20px;
}

.subscribe {
  font-size: 30px;
  text-align: center;
  padding: 20px;
  letter-spacing: 3px;
}

label {
  font-size: 25px;
  text-align: center;
  padding: 20px;
  margin: 20px;
  letter-spacing: 5px;
}

input {
  width: 300px;
  border-style: none;
  text-align: center;
  padding: 10px;
  font-size: 20px;
  height: 30px;
  margin: 20px;
  width: 400px;
  border-radius: 10px;
}

input:invalid {
  outline-color: rgb(172, 61, 61);
}

input:valid {
  outline-color: rgb(124, 212, 124);
}

.send_button {
  width: 100px;
  height: 60px;
  border-radius: 20px;
  padding: 5px;
  text-align: center;
  font-size: 20px;
  background-color: rgb(217, 193, 197);
}

/* links */

a {
  color: black;
  list-style: none;
  text-decoration: none;
  font-size: 20px;
}

a:hover {
  text-decoration: underline;
  cursor: pointer;
}

.active h2 {
  background-color: rgb(217, 193, 197);
  font-weight: 660;
  border-radius: 20px;
}

section.active {
  background-color: rgb(249, 243, 244);
  border-radius: 10px;
}

header h2 {
  font-size: 15px;
  letter-spacing: 2px;
  padding: 6px;
}

/* floating button */

.floating-button {
  width: 80px;
  height: 80px;
  color: white;
  font-weight: 1000;
  border: none;
  box-shadow: 10px 10px 20px rgb(173, 68, 85);
  font-size: 50px;
  background-color: rgb(217, 193, 197);
  border-radius: 50%;
  float: right;
  margin: 20px;
  -webkit-animation: bounce 0.3s infinite alternate;
  -moz-animation: bounce 0.3s infinite alternate;
  animation: bounce 0.3s infinite alternate;

  position: fixed;
  bottom: 20px;
  right: 20px;
}

@-webkit-keyframes bounce {
  to {
    -webkit-transform: scale(1.2);
  }
}
@-moz-keyframes bounce {
  to {
    -moz-transform: scale(1.2);
  }
}
@keyframes bounce {
  to {
    transform: scale(1.2);
  }
}

footer {
  margin-top: 100px;
}

/* Media --> mobile version*/

@media screen and (max-width: 600px) {
  body {
    place-content: center;
  }

  /* NAVIFATION */

  #navbar__list {
    display: flex;
    list-style: none;
    padding: 0;
    gap: 0;
    cursor: pointer;
    background-color: white;
  }

  .showcase {
    display: flex;
    flex-wrap: wrap;
  }

  .intro {
    place-items: center;
    text-align: center;
  }

  .introh4 {
    text-align: center;
  }

  /* INTRO PICTURE */
  .decor {
    width: 100%;
    place-items: center;
    border-radius: 10px;
  }

  .decor-description {
    width: 100%;
    border-radius: 10px;
    place-items: center;
  }

  /* SECTION SHOWCASE */

  .gallery {
    display: flex;
    flex-wrap: wrap;
    place-items: center;
    width: 100%;
  }

  img {
    width: 100%;
  }

  p {
    width: 100%;
  }

  /* SECTION 2 HOW WE DO IT */

  ol {
    text-align: center;
    list-style-position: inside;
    margin-left: 20px;
  }

  .container_list {
  }

  .box1,
  .box2,
  .box3 {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 170px;
    justify-content: center;
  }

  .p-list {
    visibility: hidden;
  }

  .learn {
    visibility: hidden;
  }

  .title-list {
    font-size: 15px;
    width: 100%;
    text-align: center;
    margin-left: 50px;
  }

  .numbers {
    padding-left: 50px;
    font-size: 30px;
  }

  /* SECTION 3 TESTIMONIAL */

  .test_container {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
  }

  blockquote {
    font-size: 15px;
    width: 100%;
  }

  /* FLOATING BUTTON */

  .floating-button {
    visibility: hidden;
  }

  /* FORM */

  form {
    display: flex;
    flex-wrap: wrap;
    border-top: solid 1px rgb(173, 68, 85);
    border-left: none;
    border-right: none;
    border-bottom: solid 1px rgb(173, 68, 85);
    margin: 0;
  }

  fieldset {
    width: 100%;
  }

  input {
    width: 250px;
  }

  /* NAV FOR HAMBURGER MENU */

  #logo {
    margin-left: 25%;
    height: 83px;
    line-height: 83px;
  }
  .navbar__menu {
    visibility: hidden;
    position: fixed;
    top: 80px;
    right: 100px;
  }

  .navmenu-active {
    visibility: visible;
  }

  .navlist-active {
    flex-direction: column;
  }

  .page__header {
    display: grid;
    grid-template-areas: "logon hamburger" "nav .";
    background-color: white;
    height: 100px;
  }

  .showNav {
    visibility: visible;
    grid-area: nav;
    background-color: transparent;
    padding-left: 300px;
    margin-top: 15px;
    font-size: 15px;
    font-weight: bold;
  }

  .showNav ul {
    display: flex;
    flex-direction: column;
    position: relative;
    gap: 20px;
  }

  .bar1,
  .bar2,
  .bar3 {
    height: 1px;
    background-color: black;
    margin: 5px 0;
    border-radius: 25px;
    width: 35px;
    padding: 2px;
  }

  #hamburger {
    position: relative;
    right: 20px;
    top: 10px;
    background-color: transparent;
    border: none;
    cursor: pointer;
  }
}

@media screen and (min-width: 600px) {
  #hamburger {
    visibility: hidden;
  }
}
